#main-container {
    position: relative;
    /* top: -29px; */
    height: fit-content;
    padding: 0 20px;
    background-color: var(--back);

}

#content-container {
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 100%;
    height: auto;
}

#quote-container {
    width: 40%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px gray;
    padding: 10px;
    text-align: center;
}

#all-quotes {
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px gray;
    padding: 10px;
    text-align: center;
}

.btn {
    all: unset;
    cursor: pointer;
    margin: 10px;
    width: fit-content;
    height: 30px;
    border-radius: 10px;
    background-color: var(--main);
    color: white;
    padding: 5px 10px;
    text-align: center;

}

#form-container {
    text-align: center;
    max-width: 45%;
    background-color: var(--back2);
    border-radius: 10px;
    padding: 10px;
}

#all-quotes {
    margin: 10% auto;
    width: 45%;
}

.form-group {
    margin: 5% auto;
}

/* For tablets */
@media screen and (max-width: 780px) {
    #content-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form-group {
        width: 100%;
    }

    #form-container {
        width: 100%;
        margin: 0 auto;
    }
    #quote-container{
        width:100%;
        margin: 0 auto;
    }
    #all-quotes{
        width:100%;
        /* margin: 0 auto; */
    }
}