/* You can add global styles to this file, and also import other style files */
/* @font-face {
    font-family: ;
    src: url();
} */

:root{
--main: rgb(100, 134, 185);
--accent: rgb(70, 104, 155);
--back: rgb(252, 245, 241);
--back2: rgb(230, 205, 191);
}

body {
    padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;   
  background-color: var(--back);
}